.container_item {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 3rem 2rem;
}

.aestetic_and_testimonial {
  display: flex;
}

.aestetic_bar {
  width: 2px;
  height: 100%;
  background-color: var(--color-primary-strong);
}

.client_testimonial {
  max-width: 30rem;
  min-height: 18rem;
}

.text {
  padding: 1rem;
  text-align: left;
  font-size: var(--font-size-1);
  font-style: italic;
}
.client {
  padding: 0 1rem;
  font-size: var(--font-size-1);
  font-weight: 600;
}

.img_container {
  overflow: hidden;
  min-width: 200px;
  min-height: 200px;
}

.client_img {
  transition: all 0.5s;
}
.client_img:hover {
  transform: scale(1.1);
}
.company {
  padding: 0 1rem;
  font-size: var(--font-size-1);
  color: var(--color-primary-strong);
  font-weight: 600;
}

/* MEDIA QUERIES */

@media (max-width: 570px) {
  .container_item {
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: var(--box-shadow-1);
    border-top: 2px solid var(--color-primary-strong);
  }
  .container_item img {
    display: none;
  }
  .img_container {
    display: none;
  }
}
