.footer {
  padding: 1rem var(--padding-lg-xl) 0 var(--padding-lg-xl);
  background-color: var(--color-primary-strong);
  color: var(--color-secondary-light);
  font-weight: 300;
  position: relative;
}

.footer_info {
  display: flex;
  padding: var(--padding-md);
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.top_container {
  display: flex;
  justify-content: space-around;
}

.info_column {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.column_title {
  font-size: var(--font-size-2);
  text-align: center;
  font-weight: 400;
}

.column_list {
  text-align: center;
  font-size: var(--font-size-1);
  font-style: normal;
  display: flex;
  flex-direction: column;

  gap: var(--spacing-1);
}

.column_list {
  list-style: none;
}
.column_list a {
  color: var(--color-secondary-light);

  text-decoration: none;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: var(--spacing-4);
  align-items: center;
}

.social_icon {
  color: var(--color-secondary-light);

  width: 25px;
  height: 25px;
}

.copyright {
  text-align: center;
  margin-top: var(--margin-md);
  font-size: var(--font-size-1);
  padding: var(--padding-xl);
  border-top: 1px solid var(--color-secondary-light);
}
