.section_carousel {
  width: 100%;
  background-color: var(--color-primary-strong);
}

.carousel_wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.logo_list {
  display: inline-flex;
  padding: 2rem;
  animation: slide 140s linear infinite;
  list-style: none;
}

.logo_item {
  margin: 0 3.5rem;
  width: 15rem;
}

.carousel_wrapper:hover .logo_list {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
