.section_carousel {
  width: 100%;
  background-color: var(--color-primary-strong);
}

.carousel_wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.logo_list {
  display: inline-flex;
  padding: 2rem;
  animation: slide 140s linear infinite;
  list-style: none;
}

/* .carousel_wrapper:before,
.carousel_wrapper:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.carousel_wrapper:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    var(--color-primary-strong)
  );
}

.carousel_wrapper:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    var(--color-primary-strong)
  );
} */

.logo_item {
  margin: 0 3.5rem;
  width: 15rem;
}

.carousel_wrapper:hover .logo_list {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
