.form {
  width: 90vw;
  max-width: 60rem;
  /* background-color: #ece9e2; */
  background-color: var(--color-secondary-very-light);
  color: var(--color-primary-strong);
  box-shadow: black var(--box-shadow-1);
}

.inner_form {
  padding: var(--padding-2xl) var(--padding-xl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}

.titlu_form {
  font-size: var(--font-size-4);
  margin: 0 0 2rem 0;
  font-weight: 600;
  text-align: center;
}

.input_group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  font-size: var(--font-size-2);
  font-weight: 600;
  width: 100%;
}

.control_container {
  display: flex;
  gap: var(--spacing-5);
  flex-grow: 1;
}

.label {
  font-size: var(--font-size-3);
}

.input {
  font-size: var(--font-size-2);
  font-weight: 400;
  padding: var(--padding-md) var(--padding-md-lg);
  background-color: white;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.error {
  color: red;
}

.textarea {
  padding: 1.4rem 1.6rem;
  background-color: white;
  align-self: stretch;
  resize: none;
  border: none;
}

.btn_submit {
  padding: var(--padding-lg);
  margin-top: 1.5rem;
  background-color: var(--color-primary-strong);
  color: #f9f8f5;
  font-size: var(--font-size-3);
  font-weight: 600;
  width: 100%;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
}

.btn_submit:hover {
  background-color: #8d6e4b;
}

/* MEDIA QUERY */

@media (max-width: 1550px) {
  .form {
    max-width: 55rem;
  }
}

@media (max-width: 1550px) {
  .form {
    max-width: 50rem;
  }
}

@media (max-width: 1060px) {
}

@media (max-width: 965px) {
}
@media (max-width: 530px) {
  .control_container {
    flex-direction: column;
  }
}
@media (max-width: 440px) {
  .btn_submit {
    font-size: var(--font-size-1);
  }
}
