.wrapper {
  position: absolute;
  top: 10.5rem;
  left: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-primary-light);
  padding: 0.2rem;
  border-radius: 3px;
}

.icon {
  width: 2rem;
  height: 2rem;
  color: var(--color-white);
}

.select {
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  font-size: 0.875rem;
  cursor: pointer;
}
